@{
    ViewData["Title"] = "Apply Discount";
}

<h2>Apply Discount</h2>

<form asp-action="ApplyDiscount" method="post">
    <div class="row align-items-center justify-content-center h-100 w-100">
        <label>Customer ID:</label>
        <div class="form-group">
        <input type="number" name="customerId" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
</form>
